@charset "UTF-8";
@import url(//font.elice.io/EliceDigitalBaeum.css);

html,
body {
  font-family: "Elice Digital Baeum", sans-serif;
}
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
li {
  margin-bottom: 20px;
}
h3 {
  display: inline-block;
}
.header {
  display: flex;
  justify-content: center;
}
.title {
  margin: 20px 0;
  animation: colorChange 2s infinite alternate;
}

@keyframes colorChange {
  0% {
    color: black;
  }
  30% {
    color: blue;
  }

  60% {
    color: red;
  }

  100% {
    color: green;
  }
}
.main {
  display: flex;
  justify-content: center;
}

.profile_image {
  transition: all 1s;
  margin-bottom: 20px;
}
.profile_image:hover {
  transform: scale(1.1);
}

.contents {
  display: none;
}
.footer {
  display: flex;
  align-items: center;
  padding: 30px;
  flex-direction: column;
}
